@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
header{
    background-color: #EAC926;
}
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.nav ul{
    list-style: none;
}
.logo{
    width: 150px;
    margin-top: 5vw;
    margin-left: 5vw;
}
.busqueda{
    margin-top: 5vw;
    margin-right: 5vw;
}
h1{
    text-align: center;
    margin-top: 10px;
}
.burguer-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fa-bars{
    background-color: #1259c3;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 3vh;
    margin-bottom: 10px;
}
.nav{
    display: none;
}
.arriba-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .burguer-menu{
        display: none;
    }
    .nav{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5vh;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .busqueda{
        margin-top: 5vw;
    }
    h1{
        margin-top: 5vw;
        margin-right: 5vw;
    }
    .section li{
        margin-right: 10px;
        margin-bottom: 2vh;
    }
    .cuenta li{
        margin-right: 10px;
        margin-bottom: 2vh;
    }
}