div{
    margin-top: 10px;
}
.center{
    text-align: center;
}
.formato-img{
    background-color: white;
    width: 90%;
    margin: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.precio{
    font-size: 18px;
    text-align: start;
    margin-bottom: 10px;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
}
.descripcion{
    font-size: 10px;
    text-align: start;
    margin-left: 15%;
    margin-right: 15%;
    border-top: 1px solid;
    border-color: #ebeebe;
    display: none;

}

.titular{
    font-size: 24px;
    text-align: center;
}
.publi-cont{
    text-align: start;
    margin-left: 2%;
    margin-right: 0%;
}
.camion{
    position: absolute;
    margin-top: 30%;
    width: 8%;
    left: 7%;
    font-size: 15px;
    border: 1px solid;
    border-radius: 90%;
    padding: 1vw;
    color:#39b54a;
}
.linea-precio-des{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
@media (min-width: 768px){
    .hileras{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .formato-img{
        position: relative;
        width: 58%;
        margin: 11vw;
    }
    .camion{
        position: absolute;
        margin-top: 85%;
        width: 22%;
        left: 3%;
    }
    .descripcion{
        display: block;
    }
    .img{
        margin-bottom: 38px;
    }
}
@media (min-width: 1024px){
    .formato-img{
        position: relative;
        width: 60%;
        margin: 5vw;
        font-size: 12px;
        padding: 0%;
        box-sizing: border-box;
    }
    .camion{
        position: absolute;
        margin-top: 99%;
        width: 27%;
        left: 3%;
    }
    .img{
        margin-bottom: 38px;
    }
}